body{
    background-color: rgb(175, 243, 215);
    color: rgb(7, 19, 85);
    font-family: Helvetica, sans-serif;
    padding: 20;
    margin: 25px 50px;
}
h1{
    color: darkgreen;
    font-size: 2em;
    font-weight: 600;
}
h2{
    color: rgb(8, 77, 8);
    font-size: 1.8em;
    font-weight: 600;
}
#experienceSection {
    /*padding: 5px;
    margin: 2px;*/
    color: rgb(12, 91, 94);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-image:url("/images/listImg.png");
}

#skills {
   /* padding: 5px;
    margin: 5px;*/
    color: rgb(29, 146, 5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style:circle;
}
section {
    padding: 10px;
    margin: 10px;
    border-color: #67f5bc;
    border-style:ridge;
}
label{
    font-size: 1.25em;
    color: rgb(189, 30, 210);
}
form{
    padding: 10px 15px;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
input {
    color: blue;
    width: 25%;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #504e4e;
    transition: 0.2s;
    outline: none;
    font-weight: 300;
    font-size: 20px;
 }
 textarea{
    width: 25%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    color: rgb(3, 70, 90);
    border: 2px solid #504e4e;
    transition: 0.2s;
    outline: none;
    font-size: 1rem;
 }
 button{
    background-color: #680404;
    border: none;
    color: white;
    padding: 8px 20px;
    margin: 4px 2px;
    font-size: 18px;
    box-shadow: rgb(248, 127, 123) 0 1px 0 0 inset;
    border: 1px solid transparent;
    border-radius: 3px;
 }
 #submitButton{
    background-color: #046843;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    font-size: 1.2em;
    box-shadow: rgb(6, 143, 52) 0 1px 0 0 inset;
    border: 1px solid transparent;
    border-radius: 3px;
 }
 footer{
    padding: 1px;
    background-color:darkkhaki;
    color:rgb(58, 58, 3);
    text-align: center;
 }